<div id="editFlex">
  <%= form_with model: @insult do |form| %>
    <%= form.text_area :phrase, class: "textArea", placeholder: "Insult..." %>
    <%= form.text_field :contributor, placeholder: "Your name/handle" %>

    <%= form.submit %>
  <% end %>
</div>

