<h1>Edit an insult</h1>
<%= form_with model: @insult do |form| %>
  <%= form.text_area :phrase, placeholder: "Insult..." %>
  <%= form.text_field :contributor, placeholder: "Your name/handle" %>

  <%= form.submit %>
<% end %>
