
<div class="divFlexHome">  
    <%= image_tag ("tree.jpeg"), class: "homeTree"%>    
    <%= image_tag ("pikachu.png"), id: "homePikaBefore"%>    
    <%= image_tag ("grass.png"), class: "homeGrass"%>    
</div>
