<% @insult_number = 1 %>


<div id="indexContainer">
    <div class="insultsContainer">
        <ul class="insultList">
            <% @insults.each do |insult| %>
                <li class="insultListItem jediFont"> <%= @insult_number %> <%= link_to insult.phrase, insult_path(insult), class: 'jediFont' %> </li> 
                <hr align= "left" class= "divider"></hr>
                <% @insult_number += 1 %>
            <% end %>
        </ul>
    </div>
    <%= image_tag ("spacePikachu.png"), id: "spacePika1"%> 
</div>   



<!-- View Specific Javascript -->
<%= javascript_include_tag('spacePika.js') %>